<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <link rel="stylesheet" href="/detailed.css">
</head>
<body>
<header>
    <img id="hamburger" src="/hamburger.png" onclick="hamburgerClick()" height="50px">
    <a style="text-decoration: none;" href="/home"><p id="title">СТУДЕНТСКИ ПОМОШНИК</p></a>
    <div><a id="home" href="/home" class="btn btn-outline-light">Home</a><a id="about" href="/home/about" class="btn btn-outline-light">About</a></div>
</header>
<div id="sidebar" hidden>
    <button class="btn btn-outline-dark" onclick="geolocation()" id="getl">Најди ја мојата локација</button><br>
    <button disabled class="btn btn-outline-dark" onclick="search()" id="search">Пронајди рута</button><br>
    <select id="profile">
        <option value="foot-walking">Пешачење</option>
        <option value="driving-car">Автомобил</option>
        <option value="cycling-regular">Велосипед</option>
        <option value="wheelchair">Инвалидска количка</option>
    </select>
    <br><br>
    <h4>Упатство за употреба:</h4>
    <br>
    <p>Притисни на <strong>Најди ја мојата локација</strong></p>
    <p>Дозволи пристап до твојата локација</p>
    <p>Избери една од опциите за превоз</p>
    <p>Притисни <strong>Пронајди рута</strong></p>
    <h4>Прикажи установи според клучен збор</h4>
    <input disabled type="text" style="margin-left: 5px; width: 245px;" id="keyword">
    <button disabled class="btn btn-outline-dark" onclick="keyword()">Пребарај според клучен збор</button>
</div>
<div id="container">
<div id="left">
    <h3 class="text-center" th:text="${university.name}"></h3>
    <div id="imgContainer"><img th:src="${university.imageUrl}"></div><br><br>
    <div class="info" th:text="'Категорија: ' + ${university.type}"></div>
    <div class="info" th:text="'Локација: ' +${university.location}"></div>






    <input type="hidden" id="latitude" th:value="${university.latitude}">
    <input type="hidden" id="longitude" th:value="${university.longitude}">
</div>
<div id="right">
    <div id="map"></div>
    <div id="information" hidden>
        <h4>Информации за рутата кон универзитетот</h4>
        <h6 id="distance"></h6>
        <h6 id="duration"></h6>
    </div>
</div>
</div>

<footer>
    <a href="/home/about">За нас</a>
    <a href="/home/about">Контакт</a>
    <p>© 2021 Copyright: StudentHelper</p>
    <a href="/home/about">Информации за сајтот</a>
    <a href="/home/language/mk">Македонски</a>
    <a href="/home/language/en">English</a>
</footer>
<script src="/detailed.js"></script>
</body>
</html>