<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Студентски помошник</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <link rel="stylesheet" href="/home.css">

</head>
<body>
<header>
    <img id="hamburger" src="/hamburger.png" onclick="hamburgerClick()" height="50px">
    <a style="text-decoration: none;" href="/home"><p id="title">STUDENT HELPER</p></a>
    <div><a id="home" href="/home" class="btn btn-outline-light">Home</a><a id="about" href="/home/about" class="btn btn-outline-light">About</a></div>
</header>
<div id="sidebar" hidden>
    <button class="btn btn-outline-dark" onclick="geolocation()" id="getl">Find my location</button><br>
    <select class="form-select" id="profile">
        <option value="driving-car">Car</option>
        <option value="foot-walking">Walking</option>
        <option value="cycling-regular">Bicycle</option>
        <option value="wheelchair">Wheelchair</option>
    </select>
    <button class="btn btn-outline-dark" onclick="search()" id="search" disabled>Find route</button><br>
    <br><br>
    <div id="instructions">
        <h6>Instruction manual:</h6>
        <br>
        <p>Choose a university from the map</p>
        <p>Press on <strong>Find my location</strong></p>
        <p>Allow access to your location</p>
        <p>Choose one of the transport options</p>
        <p>Press <strong>Find route</strong></p>
    </div>
    <div id="information" hidden>
        <h4>Information about the route to the university</h4>
        <br>
        <h6 id="distance"></h6>
        <h6 id="duration"></h6>
        <br>
    </div>
    <br><br>
    <h4>Show universities by keyword</h4>
    <input type="text" class="form-control" id="keyword" placeholder="Машински, Скопје, Медицина...">
    <button id="keywordbutton" class="btn btn-outline-dark" onclick="keyword()">Search using a keyword</button>
</div>

<div id="map"></div>

<footer>
    <a href="/home/about">Contact</a>
    <p>© 2021 Copyright: StudentHelper</p>
    <a href="/home/about">Information about the site</a>
    <a href="/home/language/mk">Македонски</a>
    <a href="/home/language/en">English</a>
</footer>
<script src="/home.js"></script>
</body>
</html>
