header{
    height: 50px;
    background-color: #413946;
    display: flex;
    justify-content: space-between;
}

@keyframes mymove {
    50% {transform: rotate(90deg);}
}

.rotate {
    animation: mymove 1.5s;
}
div a{
    margin: 5px;
}
#title{
    font-size: 20px;
    font-family: 'Century Gothic', serif;
    color: white;
    margin-top: 10px;
}
#hamburger{
    margin-left: 10px;
    margin-top: 0;
}




#sidebar{
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,.8);
    z-index: 3;
    position: absolute;
    top: 50px;
    left: 0;
    height: 671px;
    width: 320px;
    background-color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#sidebar p{
    font-size: 14px;
}

#sidebar button {
    width: 100%;
}
#keywordbutton{
    margin-top: 5px;
}
#profile{
    margin-top: 5px;
    margin-bottom: 5px;
}




footer{
    margin-top: 144px;
    display: flex;
    height: 42px;
    justify-content: space-evenly;
    background-color: #413946;
    font-family: "Century Gothic", serif;
    font-weight: bold;
    font-size: 15px;
    color: white;

    position:fixed;
    bottom:0;
    width:100%;
}
footer p {
    margin: 8px;
}

footer a {
    text-decoration: none;
    color: white;
    margin: 8px;
}

#map{
    height: 500px;
    width: 700px;
    margin-left: 40px;
    margin-top: 40px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    #map{
        height: 60vh;
        width: 400px;
    }

    #left{
        height: 95vh;
    }

    footer *{
        font-size: 20px;
    }
    footer{
        flex-direction: column;
        height: 20vh;
    }

}
#container{
    display: flex;
    justify-content: center;
    height: 900px;
}
#left{
    width: 700px;
    border-right: 5px solid #413946;
}
#right{
    width: 700px;
}


#information{
    margin-left: 40px;
    margin-top: 20px;
}

h6{
    font-weight: bold;
}
.logo{
    height: 200px;
}
#imgContainer{
    display: flex;
    justify-content: center;
}
.description{
    font-size: 12px;
    margin-right: 10px;
}
.star{
    width: 20px;
    height: 20px;
}