#map {
    height: 630px;
    margin: 20px;
}
#hamburger{
    margin-left: 10px;
    margin-top: 0;
}
#title{
    font-size: 20px;
    font-family: 'Century Gothic', serif;
    color: white;
    margin-top: 10px;
}
#sidebar{
    z-index: 30;
    position: absolute;
    top: 70px;
    left: 20px;
    height: 600px;
    width: 280px;
}
#profile{
    margin-top: 5px;
    margin-bottom: 5px;
}
#keywordbutton{
    margin-top: 5px;
}
header{
    height: 50px;
    background-color: #413946;
    display: flex;
    justify-content: space-between;
}
footer{
    display: flex;
    height: 42px;
    justify-content: space-evenly;
    background-color: #413946;
    font-family: "Century Gothic", serif;
    font-weight: bold;
    font-size: 15px;
    color: white;

    position:absolute;
    bottom:0;
    width:100%;
}
footer p {
    margin: 8px;
}
footer a {
    text-decoration: none;
    color: white;
    margin: 8px;
}
div a{
    margin: 5px;
}

#sidebar p{
    font-size: 14px;
}

#sidebar button {
    width: 100%;
}


@keyframes mymove {
    50% {transform: rotate(90deg);}
}

.rotate {
    animation: mymove 1.5s;
}