<link rel="stylesheet" href="/about.css">
<div id="container">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/avatar.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Blagoj Petkov</h5>
            <p class="card-text">Student at FCSE. blagojpetkov@gmail.com</p>
            <a href="https://github.com/blagojpetkov" class="btn btn-primary">Open GitHub profile</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/avatar.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Maja Petrova</h5>
            <p class="card-text">Student at FCSE. majapetrova@gmail.com</p>
            <a href="https://github.com/mp161616" class="btn btn-primary">Open GitHub profile</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/avatar.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Angela Mukanova</h5>
            <p class="card-text">Student at FCSE. angelamukanova@gmail.com</p>
            <a href="https://github.com/angelamukanova" class="btn btn-primary">Open GitHub profile</a>
        </div>
    </div>
</div>
<script src="/about.js"></script>