<link rel="stylesheet" href="/about.css">
<div id="container">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/avatar.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Благој Петков</h5>
        <p class="card-text">Студент на ФИНКИ. blagojpetkov@gmail.com</p>
        <a href="https://github.com/blagojpetkov" class="btn btn-primary">Отвори Github профил</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/avatar.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Маја Петрова</h5>
        <p class="card-text">Студент на ФИНКИ. majapetrova@gmail.com</p>
        <a href="https://github.com/mp161616" class="btn btn-primary">Отвори Github профил</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/avatar.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Ангела Муканова</h5>
        <p class="card-text">Студент на ФИНКИ. angelamukanova@gmail.com</p>
        <a href="https://github.com/angelamukanova" class="btn btn-primary">Отвори Github профил</a>
    </div>
</div>
</div>
<script src="/about.js"></script>