#map{
    height: 500px;
    width: 500px;
}
.left{
    width: 500px;
}
.right{
    width: 500px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.container button{
    width: 100%;
    margin-top: 10px;
}
.container a{
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
}

header{
    height: 50px;
    background-color: #413946;
    display: flex;
    justify-content: space-between;
}
@keyframes mymove {
    50% {transform: rotate(90deg);}
}

.rotate {
    animation: mymove 1.5s;
}

#sidebar{
    z-index: 3;
    position: absolute;
    top: 50px;
    left: 0;
    height: 671px;
    width: 320px;
    background-color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#sidebar p{
    font-size: 14px;
}

div a{
    margin: 5px;
}
#title{
    font-size: 20px;
    font-family: 'Century Gothic', serif;
    color: white;
    margin-top: 10px;
}

#sidebar button {
    width: 100%;
}

#keywordbutton{
    margin-top: 5px;
}
#profile{
    margin-top: 5px;
    margin-bottom: 5px;
}

footer{
    display: flex;
    height: 42px;
    justify-content: space-evenly;
    background-color: #413946;
    font-family: "Century Gothic", serif;
    font-weight: bold;
    font-size: 15px;
    color: white;

    position:absolute;
    bottom:0;
    width:100%;
}
footer p {
    margin: 8px;
}
footer a {
    text-decoration: none;
    color: white;
    margin: 8px;
}


@media only screen
and (min-device-width : 220px)
and (max-device-width : 480px) {
    .container{
        flex-direction: column;
        align-items: center;
    }
    .left{
        width: 800px;
    }
    .right{
        width: 800px;
    }
    #map{
        height: 35vh;
        width: 800px;
    }
    footer *{
        font-size: 20px;
    }
    footer{
        flex-direction: column;
        height: 20vh;
    }
}
